.cabecalho {
    background: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
} .cabecalho h2 {
    text-transform: uppercase;
}.secao {
    background: black;
    color: white;
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 10px;
    border-radius: 40px;
} .secao #lbl {
    font-size: 21px;
} .secao #txt {
    font-size: 16px;
} .secao #btn {
    font-size: 16px;
} .secao #txt1 {
    font-size: 16px;
}